In [1]:
import pandas as pd 
import numpy as np
import sys 
import warnings

warnings.filterwarnings('ignore')

### Airport Table

Source: https://openflights.org/data.html

In [2]:
file_path = '/Users/jiashu/Documents/UW_IMT563/Project/data/ETL_Source/airport_raw.csv'

airport_cols = ["AirportID", "AirportName", "City", "Country", "IATA", "ICAO", 
                "Latitude", "Longitude", "Altitude", "TimezoneOffset", "DST",
               "TimeZone", "Type", "Source"]

airport_csv = pd.read_csv(file_path, names = airport_cols, skiprows=[0])

tbl_cols = ["AirportName", "City", "Country", "IATA", "ICAO", 
                "Latitude", "Longitude", "Altitude"]

airport_tbl = airport_csv[tbl_cols]

non_vals = ['\\N', 'NaN', '-', 'Unknown']

airport_tbl = airport_tbl.replace(non_vals, np.nan)

notnull_cols = ["AirportName", "City", 
                "Latitude", "Longitude", "Altitude"]

airport_tbl.dropna(axis = 0, subset= notnull_cols, inplace  = True)

In [3]:
# drop duplicate airports
airport_tbl['AirportName_lower'] = airport_tbl['AirportName'].apply(str.lower)

airport_tbl.drop_duplicates(subset = "AirportName_lower", inplace=True)

airport_tbl = airport_tbl[tbl_cols]
airport_tbl

,AirportName,City,Country,IATA,ICAO,Latitude,Longitude,Altitude
0,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,5282
1,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20
2,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388
3,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239
4,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146
...,...,...,...,...,...,...,...,...
7693,Rogachyovo Air Base,Belaya,Russia,NaN,ULDA,71.616699,52.478298,272
7694,Ulan-Ude East Airport,Ulan Ude,Russia,NaN,XIUW,51.849998,107.737999,1670
7695,Krechevitsy Air Base,Novgorod,Russia,NaN,ULLK,58.625000,31.385000,85
7696,Desierto de Atacama Airport,Copiapo,Chile,CPO,SCAT,-27.261200,-70.779198,670
7697,Melitopol Air Base,Melitopol,Ukraine,NaN,UKDM,46.880001,35.305000,0

In [4]:
airport_tbl.to_csv('/Users/jiashu/Documents/UW_IMT563/Project/data/ETL_Dest/airport_tbl.csv', index = False )

### Airline Table

Source: https://openflights.org/data.html

In [16]:
file_path = '/Users/jiashu/Documents/UW_IMT563/Project/data/ETL_Source/airline_raw.csv'

airline_cols = ["AirlineID", "AirlineName", "Alias", "IATA", "ICAO",
               "Callsign", "Country", "Active"]

airline_csv = pd.read_csv(file_path, skiprows=[0], names = airline_cols)

tbl_cols = ["AirlineName", "Alias", "IATA", "ICAO", "Active"]

airline_tbl = airline_csv[tbl_cols]

non_vals = ['\\N', 'NaN', '-', 'Unknown']

airline_tbl.replace(non_vals, np.nan, inplace = True)

notnull_cols = ["AirlineName", "Active"]

airline_tbl.dropna(axis = 0, subset= notnull_cols, inplace  = True)

airline_tbl.Active.replace({'Y': 1, 'N': 0, 'n': 0}, inplace= True)

In [20]:
# drop duplicate airports
airline_tbl['AirlineName_lower'] = airline_tbl['AirlineName'].apply(str.lower)

airline_tbl.drop_duplicates(subset = 'AirlineName_lower', inplace=True)

airline_tbl = airline_tbl[tbl_cols]
airline_tbl

,AirlineName,Alias,IATA,ICAO,Active
1,Private flight,NaN,NaN,NaN,1
2,135 Airways,NaN,NaN,GNL,0
3,1Time Airline,NaN,1T,RNX,1
4,2 Sqn No 1 Elementary Flying Training School,NaN,NaN,WYT,0
5,213 Flight Unit,NaN,NaN,TFU,0
...,...,...,...,...,...
6157,GX Airlines,NaN,NaN,CBG,1
6158,Lynx Aviation (L3/SSX),NaN,NaN,SSX,0
6159,Jetgo Australia,NaN,JG,NaN,1
6160,Air Carnival,NaN,2S,NaN,1
6161,Svyaz Rossiya,Russian Commuter,7R,SJM,1

In [21]:
len(airline_tbl)

6070

In [22]:
airline_tbl.to_csv("/Users/jiashu/Documents/UW_IMT563/Project/data/ETL_Dest/airline_tbl.csv", index = False )

### Route Table

Source: https://openflights.org/data.html

In [23]:
file_path = '/Users/jiashu/Documents/UW_IMT563/Project/data/ETL_Source/route_raw.csv'

route_cols = ["AirlineIATA", "AirlineID", "OriginAirportIATA", "OriginAirportID",
             "DestinationAirportIATA", "DestinationAirportID", "Codeshare",
             "Stops", "AirCraft"]

route_csv = pd.read_csv(file_path, skiprows = [0], names = route_cols)

tbl_cols = ["AirlineIATA", "OriginAirportIATA", 
            "DestinationAirportIATA",
            "Stops", "AirCraft"]

route_tbl = route_csv[tbl_cols]

non_vals = ['\\N', 'NaN', '-', 'Unknown']

route_tbl.replace(non_vals, np.nan, inplace = True)

notnull_cols = ["AirlineIATA", "OriginAirportIATA", 
                "DestinationAirportIATA",
            "Stops", "AirCraft"]

route_tbl.dropna(axis = 0, subset= notnull_cols, inplace  = True)

def select_first(s):
    return s.split(' ')[0]

route_tbl.AirCraft = route_tbl.AirCraft.apply(select_first)

len(route_tbl)

67645

In [24]:
# drop duplicate airline
route_tbl['AirlineIATA_lower'] = route_tbl["AirlineIATA"].apply(str.lower)
route_tbl['OriginAirportIATA_lower'] = route_tbl["OriginAirportIATA"].apply(str.lower)
route_tbl['DestinationAirportIATA_lower'] = route_tbl["DestinationAirportIATA"].apply(str.lower)

route_tbl.drop_duplicates(subset = ['AirlineIATA_lower', 
                                      'OriginAirportIATA_lower', 
                                      'DestinationAirportIATA_lower'], inplace=True)

route_tbl = route_tbl[tbl_cols]
len(route_tbl)

67645

In [25]:
route_tbl

      AirlineIATA OriginAirportIATA DestinationAirportIATA  Stops AirCraft
0              2B               AER                    KZN      0      CR2
1              2B               ASF                    KZN      0      CR2
2              2B               ASF                    MRV      0      CR2
3              2B               CEK                    KZN      0      CR2
4              2B               CEK                    OVB      0      CR2
...           ...               ...                    ...    ...      ...
67658          ZL               WYA                    ADL      0      SF3
67659          ZM               DME                    FRU      0      734
67660          ZM               FRU                    DME      0      734
67661          ZM               FRU                    OSS      0      734
67662          ZM               OSS                    FRU      0      734

[67645 rows x 5 columns]

In [26]:
route_tbl.to_csv("/Users/jiashu/Documents/UW_IMT563/Project/data/ETL_Dest/route_tbl.csv", index = False )

### Plane Table

Source: https://openflights.org/data.html

In [27]:
file_path = '/Users/jiashu/Documents/UW_IMT563/Project/data/ETL_Source/plane_raw.csv'

plane_cols = ["PlaneName", "IATA", "ICAO"]

plane_csv = pd.read_csv(file_path, skiprows=[0], names = plane_cols)

tbl_cols = ['PlaneName', "IATA", "ICAO"]

plane_tbl = plane_csv[tbl_cols]

non_vals = ['\\N', 'NaN', '-', 'Unknown']

plane_tbl.replace(non_vals, np.nan, inplace = True)

notnull_cols = ["PlaneName", "IATA", "ICAO"]

plane_tbl.dropna(axis = 0, subset= notnull_cols, inplace  = True)

In [29]:
# drop duplicate plane
plane_tbl['PlaneName_lower'] = plane_tbl['PlaneName'].apply(str.lower)

plane_tbl.drop_duplicates(subset = 'PlaneName_lower', inplace=True)

plane_tbl = plane_tbl[tbl_cols]
len(plane_tbl)

220

In [30]:
plane_tbl.to_csv("/Users/jiashu/Documents/UW_IMT563/Project/data/ETL_Dest/plane_tbl.csv", index = False)

### Country Table

Source: https://openflights.org/data.html

In [31]:
file_path = '/Users/jiashu/Documents/UW_IMT563/Project/data/ETL_Source/country_raw.csv'

country_cols = ["CountryName", "IsoCode", "DafifCode"]

country_csv = pd.read_csv(file_path, skiprows=[0], names = country_cols)

tbl_cols = ["CountryName", "IsoCode"]

country_tbl = country_csv[tbl_cols]

non_vals = ['\\N', 'NaN', '-', 'Unknown']

country_tbl.replace(non_vals, np.nan, inplace = True)

notnull_cols = ["CountryName", "IsoCode"]

country_tbl.dropna(axis = 0, subset= notnull_cols, inplace  = True)

len(country_tbl)

241

In [36]:
# drop duplicate country
country_tbl['CountryName_lower'] =country_tbl['CountryName'].apply(str.lower)

country_tbl.drop_duplicates(subset = 'CountryName_lower', inplace=True)

country_tbl = country_tbl[tbl_cols]
len(country_tbl)

239

In [37]:
country_tbl

                           CountryName IsoCode
0    Bonaire, Saint Eustatius and Saba      BQ
1                                Aruba      AW
2                  Antigua and Barbuda      AG
3                 United Arab Emirates      AE
4                          Afghanistan      AF
..                                 ...     ...
256                              Samoa      WS
257                           Eswatini      SZ
258                              Yemen      YE
259                             Zambia      ZM
260                           Zimbabwe      ZW

[239 rows x 2 columns]

In [38]:
country_tbl.to_csv("/Users/jiashu/Documents/UW_IMT563/Project/data/ETL_Dest/country_tbl.csv", index = False)

### City Table

Source: https://openflights.org/data.html

In [40]:
file_path = '/Users/jiashu/Documents/UW_IMT563/Project/data/ETL_Source/airport_raw.csv'

airport_cols = ["AirportID", "AirportName", "CityName", "CountryName", "IATA", "ICAO", 
                "Latitude", "Longitude", "Altitude", "TimezoneOffset", "DST",
               "TimeZone", "Type", "Source"]

airport_csv = pd.read_csv(file_path, skiprows=[0], names = airport_cols)

tbl_cols = ["CityName", "CountryName"]

city_tbl = airport_csv[tbl_cols]

non_vals = ['\\N', 'NaN', '-', 'Unknown']

city_tbl.replace(non_vals, np.nan, inplace = True)

notnull_cols = ["CityName", "CountryName"]

city_tbl.dropna(axis = 0, subset= notnull_cols, inplace  = True)

len(city_tbl)

7649

In [41]:
city_tbl['CityName_lower'] =city_tbl['CityName'].apply(str.lower)
city_tbl['CountryName_lower'] =city_tbl['CountryName'].apply(str.lower)

city_tbl.drop_duplicates(subset = ["CityName_lower", "CountryName_lower"], inplace=True)

city_tbl = city_tbl[tbl_cols]
len(city_tbl)

7088

In [42]:
city_tbl

          CityName       CountryName
0           Goroka  Papua New Guinea
1           Madang  Papua New Guinea
2      Mount Hagen  Papua New Guinea
3           Nadzab  Papua New Guinea
4     Port Moresby  Papua New Guinea
...            ...               ...
7692       Kubinka            Russia
7693        Belaya            Russia
7694      Ulan Ude            Russia
7695      Novgorod            Russia
7697     Melitopol           Ukraine

[7088 rows x 2 columns]

In [43]:
city_tbl.to_csv("/Users/jiashu/Documents/UW_IMT563/Project/data/ETL_Dest/city_tbl.csv", index = False)

### User Table

Source: Self-Generated

### Rating Table

Source: https://www.kaggle.com/code/titassaha/airline-customer-satisfaction-efa-glm-visuals/input?select=train.csv

In [15]:
import random

In [17]:
file_path = '/Users/jiashu/Documents/UW_IMT563/Project/data/ETL_Source/rating_raw.csv'

rating_cols = ['id', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'WifiService',
       'DepArrTimeConvenience', 'EaseofOnlineBooking',
       'GateLocation', 'FoodDrink', 'EaseofOnlineBoarding', 'SeatComfort',
       'InflightEntertainment', 'OnboardService', 'LegroomService',
       'BaggageHandling', 'CheckinService', 'InflightService',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'Satisfaction']

rating_csv = pd.read_csv(file_path, skiprows=[0], names = rating_cols)

tbl_cols = ['WifiService',
       'DepArrTimeConvenience', 'EaseofOnlineBooking',
       'GateLocation', 'FoodDrink', 'EaseofOnlineBoarding', 'SeatComfort',
       'InflightEntertainment', 'OnboardService', 'LegroomService',
       'BaggageHandling', 'CheckinService', 'InflightService',
       'Cleanliness',
       'Satisfaction']

rating_tbl = rating_csv[tbl_cols]

rating_tbl.Satisfaction.replace({'satisfied': 1, 
                                'neutral or dissatisfied':0}, inplace= True )

ids = random.sample(range(1, rating_tbl.shape[0]+1), rating_tbl.shape[0])
rating_tbl['FlightID'] = ids

In [19]:
rating_tbl

,WifiService,DepArrTimeConvenience,EaseofOnlineBooking,GateLocation,FoodDrink,EaseofOnlineBoarding,SeatComfort,InflightEntertainment,OnboardService,LegroomService,BaggageHandling,CheckinService,InflightService,Cleanliness,Satisfaction,FlightID
0,5,4,3,4,3,4,3,5,5,5,5,2,5,5,1,19241
1,1,1,3,1,5,4,5,4,4,4,4,3,4,5,1,12983
2,2,0,2,4,2,2,2,2,4,1,3,2,2,2,0,3706
3,0,0,0,2,3,4,4,1,1,1,1,3,1,4,1,22407
4,2,3,4,3,4,1,2,2,2,2,2,4,2,4,1,7940
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,3,3,3,1,4,3,4,4,3,2,4,4,5,4,0,8663
25972,4,4,4,4,4,4,4,4,4,5,5,5,5,4,1,17488
25973,2,5,1,5,2,1,2,2,4,3,4,5,4,2,0,23731
25974,3,3,3,3,4,4,4,4,3,2,5,4,5,4,1,6787
25975,2,5,2,5,4,2,2,1,1,2,1,1,1,1,0,1454

In [140]:
rating_tbl.to_csv("/Users/jiashu/Documents/UW_IMT563/Project/data/ETL_Dest/rating_tbl.csv", index = False)

### Flight Table

Source: https://www.bts.gov/explore-topics-and-geography/introduction-transportation-statistics

In [5]:
flight_csv = pd.read_csv('/Users/jiashu/Documents/UW_IMT563/Project/data/ETL_Source/flight_raw.csv')

In [6]:
flight_csv.columns

Index(['YEAR', 'QUARTER', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE',
       'OP_UNIQUE_CARRIER', 'OP_CARRIER_AIRLINE_ID', 'OP_CARRIER', 'TAIL_NUM',
       'OP_CARRIER_FL_NUM', 'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID',
       'ORIGIN_CITY_MARKET_ID', 'ORIGIN', 'ORIGIN_CITY_NAME',
       'ORIGIN_STATE_ABR', 'ORIGIN_STATE_NM', 'DEST_AIRPORT_ID',
       'DEST_AIRPORT_SEQ_ID', 'DEST_CITY_MARKET_ID', 'DEST', 'DEST_CITY_NAME',
       'DEST_STATE_ABR', 'DEST_STATE_NM', 'CRS_DEP_TIME', 'DEP_TIME',
       'DEP_DELAY', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY', 'CANCELLED',
       'AIR_TIME', 'FLIGHTS', 'DISTANCE'],
      dtype='object')

In [7]:
tbl_cols = ['FL_DATE','OP_CARRIER', 
            'OP_CARRIER_FL_NUM', 'ORIGIN', 'ORIGIN_CITY_NAME',
            'DEST', 'DEST_CITY_NAME','CRS_DEP_TIME', 'DEP_TIME','DEP_DELAY', 
            'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY', 'CANCELLED',
            'AIR_TIME', 'DISTANCE']

flight_tbl = flight_csv[tbl_cols]

tbl_cols = ['Date','CarrierIATA', 
            'FlightNumber', 'OriginAirport', 'OriginCityName',
            'DestinationAirport', 'DestinationCityName', 
            'ScheduledDepTime','ActualDepTime','DepDelay', 
            'ScheduledArrTime', 'ActualArrTime', 
            'ArrDelay', 'Cancelled','AirTime', 'Distance']

flight_tbl.columns = tbl_cols

flight_tbl = flight_tbl[:30000]

flight_tbl['UserID'] = np.random.randint(1, 4500, flight_tbl.shape[0])

In [8]:
# reference: https://stackoverflow.com/questions/50559078/generating-random-dates-within-a-given-range-in-pandas

def random_dates(start, end, n, unit='D', seed=None):
    if not seed: 
        np.random.seed(0)

    ndays = (end - start).days + 1
    return start + pd.to_timedelta(
        np.random.randint(0, ndays, n), unit=unit
    )

In [9]:
start = pd.to_datetime('2020-01-01')
end = pd.to_datetime('2023-05-01')
random_dates(start, end, 10)

DatetimeIndex(['2021-11-15', '2021-07-13', '2023-05-01', '2022-04-15',
               '2022-02-02', '2022-10-30', '2020-10-04', '2021-08-22',
               '2022-12-30', '2021-08-23'],
              dtype='datetime64[ns]', freq=None)

In [10]:
flight_tbl['Date'] = random_dates(start, end, flight_tbl.shape[0])

flight_tbl['TravelTypeID'] = np.random.randint(0, 2, flight_tbl.shape[0])

flight_tbl['CabinClassID'] = np.random.randint(0, 3, flight_tbl.shape[0])

In [11]:
flight_tbl.ActualArrTime.replace(np.nan,0, inplace= True) 
flight_tbl.ActualDepTime.replace(np.nan,0, inplace= True)
flight_tbl.ArrDelay.replace(np. nan,0, inplace= True)
flight_tbl.DepDelay.replace(np. nan,0, inplace= True)
flight_tbl.AirTime.replace(np. nan,0, inplace= True)

In [16]:
def getCity(c):
    return c.split(',')[0].strip()

In [18]:
flight_tbl['OriginCityName'] = flight_tbl['OriginCityName'].apply(getCity)
flight_tbl['DestinationCityName'] = flight_tbl['DestinationCityName'].apply(getCity)

In [19]:
flight_tbl

,Date,CarrierIATA,FlightNumber,OriginAirport,OriginCityName,DestinationAirport,DestinationCityName,ScheduledDepTime,ActualDepTime,DepDelay,ScheduledArrTime,ActualArrTime,ArrDelay,Cancelled,AirTime,Distance,UserID,TravelTypeID,CabinClassID
0,2021-11-15,9E,5244,ORD,Chicago,JFK,New York,1520,1524.0,4.0,1841,1838.0,-3.0,0.0,91.0,740.0,2140,0,1
1,2021-07-13,9E,5317,JFK,New York,ORD,Chicago,945,941.0,-4.0,1144,1120.0,-24.0,0.0,126.0,740.0,2019,1,2
2,2023-05-01,9E,5397,JFK,New York,BGR,Bangor,2100,2056.0,-4.0,2236,2229.0,-7.0,0.0,60.0,382.0,819,0,0
3,2022-04-15,9E,5076,ATL,Atlanta,SGF,Springfield,1130,1125.0,-5.0,1225,1214.0,-11.0,0.0,88.0,563.0,305,1,2
4,2022-02-02,9E,5076,SGF,Springfield,ATL,Atlanta,1400,1354.0,-6.0,1637,1630.0,-7.0,0.0,75.0,563.0,326,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,2020-08-02,WN,1555,TPA,Tampa,BNA,Nashville,1100,1117.0,17.0,1200,1206.0,6.0,0.0,94.0,612.0,3197,0,0
29996,2023-01-05,WN,3467,BNA,Nashville,MDW,Chicago,1245,1311.0,26.0,1420,1431.0,11.0,0.0,64.0,395.0,488,0,2
29997,2021-10-30,WN,3467,MDW,Chicago,PHX,Phoenix,1505,1601.0,56.0,1800,1836.0,36.0,0.0,198.0,1444.0,952,0,2
29998,2022-06-27,WN,3525,DAL,Dallas,TPA,Tampa,710,719.0,9.0,1025,1031.0,6.0,0.0,116.0,917.0,1245,0,0
29999,2020-05-17,WN,940,PHX,Phoenix,MDW,Chicago,1845,1909.0,24.0,2300,2315.0,15.0,0.0,168.0,1444.0,2379,0,1

In [20]:
flight_tbl.to_csv("/Users/jiashu/Documents/UW_IMT563/Project/data/ETL_Dest/flight_tbl.csv", index = False)

### THE END